.container , .container2 {
    position: absolute;  
}
.image {
    width: 300px;
    height: 600px;
    align-items: center;
}
@font-face {
    font-family: HWTArtz;
    src: url(HWTArtz.woff);
}
.text {
    position: absolute;
    top :70% ;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: HWTArtz;
    color: #ffff;
    font-size: 2em;
    font-weight: 400;
    transform: rotate(-15deg) !important;
    text-align: center;
    opacity: 0;
    transform: scale(0, 0);
}

/* second page */
@font-face {
    font-family: Gotham;
    src: url(GothamRounded-Medium.woff);
}
.text2 , .text3 {
    position: absolute;
    top :5% ;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: HWTArtz;
    color:#ffff;
    font-size: 2em;
    font-weight: 400;
    transform: rotate(-15deg) !important;
    text-align: center;
    opacity: 0;
    transform: scale(0, 0);
}

.product{
    width: 100px;
    height: 320px;
    position: absolute;
    top: 20%;
    left: 25%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

button{
    font-family: Gotham;
    font-size:15px;
    padding: 15px;
    border-radius: 10px;
    background-color: orange;
    color: #ffff;
    position: absolute;
    bottom: 5%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
}


 
